@font-face {
    font-family: 'OpenSans';
    src: url('/resources/dyn/files/1143889z7bb9feb2/_fn/OpenSans-Regular-webfont.eot');
    src: url('/resources/dyn/files/1143889z7bb9feb2/_fn/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/dyn/files/1143892zf570167b/_fn/OpenSans-Regular-webfont.woff') format('woff'),
         url('/resources/dyn/files/1143891z6c7947c1/_fn/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('/resources/dyn/files/1143890z1b7e7757/_fn/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('/resources/dyn/files/1141853z84cba16a/_fn/OpenSans-Bold-webfont.eot');
    src: url('/resources/dyn/files/1141853z84cba16a/_fn/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/dyn/files/1141856zf4a155e5/_fn/OpenSans-Bold-webfont.woff') format('woff'),
         url('/resources/dyn/files/1141855z6da8045f/_fn/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('/resources/dyn/files/1141854z1aaf34c9/_fn/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('/resources/dyn/files/1141858z131978e2/_fn/OpenSans-Light-webfont.eot');
    src: url('/resources/dyn/files/1141858z131978e2/_fn/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/dyn/files/1141862zd8e1c23f/_fn/OpenSans-Light-webfont.woff') format('woff'),
         url('/resources/dyn/files/1141860z36efa313/_fn/OpenSans-Light-webfont.ttf') format('truetype'),
         url('/resources/dyn/files/1141859z641e4874/_fn/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('/resources/dyn/files/1141913ze1650e59/_fn/OpenSans-Semibold-webfont.eot');
    src: url('/resources/dyn/files/1141913ze1650e59/_fn/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/dyn/files/1141916z910ffad6/_fn/OpenSans-Semibold-webfont.woff') format('woff'),
         url('/resources/dyn/files/1141915z806ab6c/_fn/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('/resources/dyn/files/1141914z7f019bfa/_fn/OpenSans-Semibold-webfont.svg#OpenSansSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AmbleRegular';
    src: url('/resources/dyn/files/1134233z5af8af18/_fn/amble-regular-webfont.eot');
    src: url('/resources/dyn/files/1134233z5af8af18/_fn/amble-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/dyn/files/1134232z2dff9f8e/_fn/amble-regular-webfont.woff') format('woff'),
         url('/resources/dyn/files/1134235zb39b0a2d/_fn/amble-regular-webfont.ttf') format('truetype'),
         url('/resources/dyn/files/1134234zc49c3abb/_fn/amble-regular-webfont.svg#AmbleRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmbleBold';
    src: url('/resources/dyn/files/1139473zc873ce73/_fn/Amble-Bold-webfont.eot');
    src: url('/resources/dyn/files/1139473zc873ce73/_fn/Amble-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/resources/dyn/files/1139476zb8193afc/_fn/Amble-Bold-webfont.woff') format('woff'),
         url('/resources/dyn/files/1139475z21106b46/_fn/Amble-Bold-webfont.ttf') format('truetype'),
         url('/resources/dyn/files/1139474z56175bd0/_fn/Amble-Bold-webfont.svg#AmbleBold') format('svg');
    font-weight: normal;
    font-style: normal;
}