body {
  background-color: #fff;
  color: #404040;
  font-family: 'OpenSans', arial, sans-serif;
  height: 100%;
}

@media (min-width: 600px) {
  body {
    padding-top: 54px;
  }
}

@media (min-width: 769px) {
  body {
    padding-top: 70px;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; 
}

a {
  color: #1c74bc;
}

a:hover {
  color: #29497C;
}

div.page {
  background-color: #fff;
}

body, 
.e_header,
.e_content,
.e_footer, 
.page, 
.grid {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto; 
}



h1, h2, h3, h4, h5, h6 {
  font-family: OpenSans;
  font-weight: normal;
}

.content_column h1 {
  font-size: 40px; 
  font-family: OpenSansLight;
  margin-top: 0;
}

.content_column h2 {
  font-size: 24px; 
  font-family: OpenSansSemiBold;
}

.content_column h3 {
  font-size: 20px; 
  font-family: OpenSansSemiBold;
}


.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  transition: none !important; 
}

.e_header {
  padding: 0;
}

@media (min-width: 600px) {
  .e_header {
    height: 54px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
}

@media (min-width: 769px) {
  .e_header {
    height: 70px;
  }
}

#header {
  border-bottom: 8px solid #333; 
  background-color: #fff;
}

#header:before,
#header:after {
  content: " "; 
  display: table;
}

#header:after {
  clear: both; 
}

#logo {
  margin-top: 8px;
  float: left;
}

#logo img {
  width: 200px;
  height: 30px;
}

@media (min-width: 769px) {
  #logo img {
    width: 296px;
    height: 44px;
  }
}

#header .main_nav {
  font-family: OpenSansSemiBold;
  position: relative;
  height: 42px;
}

@media (min-width: 600px) {
  #header .main_nav {
    float: right;
    height: auto;
  }
}

@media (min-width: 769px) {
  #header .main_nav {
    font-size: 18px;  
  }  
}

@media (min-width: 1025px) {
  #header .main_nav {
    font-size: 20px;  
  }
}



@media (max-width: 599px) {
 .main_nav > .menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 2000;
    background-color: #fff;
    border-top: 1px solid #eaeaea;
  } 

  .primary_menu_collapsible .menu_collapsible_trigger {
    float: right;
    border: 1px solid #d0d0d0;
    background-color: #eaeaea;
    padding: 8px;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
    position: relative;
    z-index: 1000;
  }

  .primary_menu_collapsible .menu_collapsible_trigger .line {
    background: #aaa;
    height: 3px;
    display: block;
  }

  .primary_menu_collapsible:hover .menu_collapsible_trigger .line {
    background: #777; 
  }
  
  .primary_menu_collapsible.shown .menu_collapsible_trigger {
    background-color: #d0d0d0;
    box-shadow: 0 0 2px rgba(0,0,0,0.2) inset;
    border-color: #aaa;
  }

  .primary_menu_collapsible.shown .menu_collapsible_trigger .line {
    background: #666;
  }

  .primary_menu_collapsible .menu_collapsible_trigger .line + .line {
    margin-top: 3px;
  }
}

@media (min-width: 600px) {
  .primary_menu_collapsible .collapsible-control {
    display: none;
  }

  .primary_menu_collapsible .collapsible-shown {
    display: block !important;
  }
}

.menu .mi {
  list-style: none;
}

.menu .menuitemlabel {
  text-decoration: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}

.main_nav .menu {
  margin: 0;
  padding: 0;
}

.main_nav > .menu > .mi {
  position: relative;
}

@media (min-width: 600px) {
  .main_nav > .menu > .mi {
    display: inline-block;
    vertical-align: middle;
  }
}

.main_nav > .menu > .mi > .menuitemlabel {
  padding: 15px 8px;
  display: block;
  line-height: 1;
}

@media (min-width: 769px) {
  .main_nav > .menu > .mi > .menuitemlabel {
    padding: 22px 12px; 
  }
}

@media (min-width: 1025px) {
  .main_nav > .menu > .mi > .menuitemlabel {
    padding: 21px; 
  }
}

.main_nav > .menu > .mi > .menuitemlabel:hover {
  background-color: #eaeaea;
}

.main_nav > .menu > .mi_active > .menuitemlabel:hover,
.main_nav > .menu > .mi_active > .menuitemlabel {
  color: #fff;
  background-color: #333;
}

.main_nav .mi_parent .menu {
  display: none; 
}

.main_nav div.menuitemlabel {
  cursor: default;
} 

.main_nav .mi_parent.over .menu {
  display: block;
  position: absolute;
  right: 0;
  background: #fff;
  font-size: 14px;
  white-space: nowrap;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.main_nav .mi_parent .mi {
  display: block;
}

.main_nav .mi_parent .menu .menuitemlabel {
  padding: 5px 10px;
  display: block;
}

#footer {
  text-align: right;
  padding: 10px;
  font-size: 12px;
}

.footer_menu .menu {
  padding: 0;
  margin: 0;
}

.footer_menu .mi {
  list-style: none;
  display: inline-block;
  line-height: 1;
}

.footer_menu .mi + .mi {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #1c74bc;
}

.footer_menu .menuitemlabel {
  text-decoration: none;
}


.btn {
  padding: 8px 15px;
  border: none;
  font-size: 16px;
  color: #fff;
  background: rgb(28,116,187);
  text-decoration: none;
}

.btn:hover {
  color: #fff;
}